
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


.font-roboto {
  font-family: 'Roboto','sans-serif';
}

/* Smooth scroll for in-page anchors */
html:focus-within {
  scroll-behavior: smooth;
}